/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
footer {
  width: 100%;
  text-align: center;
  background-color: #212529;
  color: white;
  padding: 3%;
}

.container {
  min-height: calc(100vh - 38px);
}

.container-fluid {
  display: flex;
  flex-direction: row;
}

#card {
  width: 100%;
}

#card2 {
  width: 100%;
}
#card3 {
  width: 100%;
}
#card4 {
  width: 100%;
}
